body {
  background: #e1e1e1;
  padding: 80px 0;
}

li {
  list-style:none;
}

.fuwa {
  animation: fuwa 1s infinite linear alternate;
}

@keyframes fuwa {
  0% {
    transform: translate(0, 0) rotate(-0deg);
  }

  50% {
    transform: translate(0, -2px) rotate(0deg);
  }

  100% {
    transform: translate(0, 0)rotate(0deg);
  }
}

.resize {
  width: 200px;
  overflow: hidden;
  resize: horizontal;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  min-width: 160px;
}

.brown {
  background: #fcd677
}

.white {
  background: #fff;
}

.corgi_wrap {
  display: flex;
  justify-content: space-between;
  height: 172px;
  margin: 0 auto;
  position: relative;
  z-index: -999;
  overflow: hidden;
  resize: horizontal;
}

.corgi_head_area {
  height: 172px;
  position: relative;
  width: 108px;
}

.corgi_face {
  position: relative;
  width: 88px;
  height: 72px;
  border-radius: 48px 55px 40px 40px;
  margin: 40px 0 0 12px;
}

.corgi_face_before {
  display: block;
  width: 48px;
  height: 40px;
  position: absolute;
  right: 0;
  border-radius: 0 40px 0px 16px;
  z-index: 1;
}

.corgi_face_after {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
  border-radius: 32px 0px 32px 0px;
  z-index: 0;
}

.corgi_nose {
  position: absolute;
  left: -8px;
  top: 32px;
  width: 56px;
  height: 40px;
  border-radius: 16px 16px 0 24px;
  z-index: 1;
}

.nose {
  background: #222222;
  width: 32px;
  height: 14px;
  border-radius: 8px;
  margin-left: -4px;
}

.eye-left {
  position: absolute;
  right: 32px;
  top: 24px;
  background: #222222;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  z-index: 2;
}

.eye-right {
  position: absolute;
  left: 14px;
  top: 24px;
  background: #222222;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  z-index: 2;
}

.ear-right {
  position: absolute;
  background: #DA9217;
  top: -32px;
  left: -10px;
  width: 40px;
  height: 64px;
  z-index: -999;
  transform: rotate(-20deg);
  border-radius: 80% 20% 0px 0px;
  animation: pataright 1s ease-in-out infinite alternate;
}

@keyframes pataright {
  0% {
    transform: translate(1px, 0) rotate(-20deg);
  }

  50% {
    transform: translate(0, -1px) rotate(-17deg);
  }

  100% {
    transform: translate(1px, 0)rotate(-20deg);
  }
}

.ear-left {
  position: absolute;
  top: -32px;
  right: -10px;
  width: 40px;
  height: 64px;
  z-index: -999;
  transform: rotate(20deg);
  border-radius: 20% 80% 0px 0px;
  animation: pataleft 1s ease-in-out infinite alternate;
}

@keyframes pataleft {
  0% {
    transform: translate(2px, 0) rotate(20deg);
  }

  50% {
    transform: translate(0, -2px) rotate(17deg);
  }

  100% {
    transform: translate(2px, 0)rotate(20deg);
  }
}

.corgi_breast {
  position: absolute;
  top: 80px;
  right: 0px;
  width: 80px;
  height: 80px;
  border-radius: 0 0 0 40px;
  z-index: -3;
}

.corgi_breast::before {
  content: "";
  display: block;
  background: #ffffff;
  height: 72px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 4px;
}

.corgi_breast::after {
  content: "";
  display: block;
  background: #fff;
  height: 64px;
  width: 16px;
  border-radius: 0 0 25% 50%;
  position: absolute;
  top: 0;
  left: -4px;
}

.leg_fr_left {
  width: 16px;
  height: 32px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  z-index: -10;
}

.leg_fr_left::after {
  content: "";
  background: #fff;
  display: block;
  width: 16px;
  height: 8px;
  border-radius: 0 0 4px 4px;
  position: absolute;
  bottom: 0;
  left: 0px;
}

.leg_fr_right {
  width: 16px;
  height: 32px;
  position: absolute;
  bottom: 0;
  right: 22px;
  border-radius: 4px;
  z-index: -10;
}

.leg_fr_right::after {
  content: "";
  background: #fff;
  display: block;
  width: 16px;
  position: absolute;
  height: 8px;
  border-radius: 0 0 4px 4px;
  bottom: 0;
  left: 0px;
}

.corgi_body_area {
  flex: auto;
}

.corgi_body {
  height: 80px;
  width: 100%;
  margin-top: 80px;
}

.corgi_tail_area {
  width: 56px;
}

.corgi_hip {
  width: 48px;
  height: 80px;
  position: relative;
  top: 80px;
  border-radius: 0 40px 16px 0;
}

.corgi_hip_after {
  display: block;
  background: #E89C18;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  right: -4px;
  animation: furu .5s infinite linear alternate;
}

@keyframes furu {
  0% {
    transform: translate(2px, 0) rotate(-5deg);
  }

  50% {
    transform: translate(0, -2px) rotate(0deg);
  }

  100% {
    transform: translate(2px, 0)rotate(5deg);
  }
}

.leg_ba_left {
  width: 16px;
  height: 32px;
  position: absolute;
  bottom: -12px;
  right: 0;
  border-radius: 4px;
  z-index: -10;
}

.leg_ba_left::after {
  content: "";
  background: #fff;
  display: block;
  width: 16px;
  height: 8px;
  border-radius: 0 0 4px 4px;
  position: absolute;
  bottom: 0;
  left: 0px;
}

.leg_ba_right {
  width: 16px;
  height: 32px;
  position: absolute;
  bottom: -12px;
  left: 0px;
  border-radius: 4px;
  z-index: -10;
}

.leg_ba_right::after {
  content: "";
  background: #fff;
  display: block;
  width: 16px;
  height: 8px;
  border-radius: 0 0 4px 4px;
  position: absolute;
  bottom: 0;
  left: 0px;
}

.note {
  text-align: center;
  margin: 40px 0;
  font-size: 10px;
  color: #333333;
  letter-spacing: 0.15rem;
}